@model PaginationList<MovieViewModel>

@{
    ViewData["Title"] = "List All";

    var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.HasNextPage ? "" : "disabled";
    var totalPageNo = Model.TotalPages;
    var currentPageNo = Model.PageIndex;
}
<div class="d-flex justify-content-between">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a> </li>
            <li class="breadcrumb-item">Movies</li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12 d-md-flex justify-content-between">

        <div>
            <ul class="list-inline">
                <li class="list-inline-item">Sort by:</li>
                <li class="list-inline-item"><a asp-action="Index" asp-route-sortBy="@ViewData["NameSort"]" asp-route-search="@ViewData["Search"]" asp-route-pageNumber="@currentPageNo">Name</a></li>
                <li class="list-inline-item"><a asp-action="Index" asp-route-sortBy="@ViewData["GenreSort"]" asp-route-search="@ViewData["Search"]" asp-route-pageNumber="@currentPageNo">Genre</a></li>
                <li class="list-inline-item"><a asp-action="Index" asp-route-sortBy="@ViewData["LengthSort"]" asp-route-search="@ViewData["Search"]" asp-route-pageNumber="@currentPageNo">Movie Length</a></li>
                <li class="list-inline-item"><a asp-action="Index" asp-route-sortBy="@ViewData["DateSort"]" asp-route-search="@ViewData["Search"]" asp-route-pageNumber="@currentPageNo">Release Date</a></li>
            </ul>
        </div>

        <div>
            <form method="get" asp-action="Index" class="row g-1">
                <div class="col-auto">
                    <input type="text" class="form-control" name="search" value="@ViewData["Search"]" placeholder="Search by Name or Description" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
    </div>
    @foreach (var movieViewModel in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-3 g-3">

            <div class="card shadow-sm overflow-hidden">

                <img src="@movieViewModel.BannerDataUrl" height="200" />

                <div class="card-body py-3">

                    <p class="fs-5 fw-bold p-0 m-0 mw-50">@movieViewModel.Name</p>

                    <small class="p-0 m-0">Genre: @movieViewModel.Genre / Duration: @movieViewModel.LengthInMin Minute</small>

                    <p class="card-text mt-2" style="height:72px; overflow: hidden; text-overflow: ellipsis; text-overflow: ellipsis;">
                        @movieViewModel.Description
                    </p>

                    <div class="d-flex justify-content-between align-items-center">

                        <small class="text-muted">Release Date: @movieViewModel.ReleaseDate</small>

                        <div class="btn-group">

                            <a asp-action="Edit" asp-route-id="@movieViewModel.Id" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-search="@ViewData["CurrentFilter"]" class="btn btn-default p-0 text-primary @prevDisabled">
    <i class="bi bi-chevron-left"></i>
</a>
<small> Page No : @currentPageNo of @totalPageNo </small>
<a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-search="@ViewData["CurrentFilter"]" class="btn btn-default p-0 text-primary @nextDisabled">
    <i class="bi bi-chevron-right"></i>
</a>