@using MovieManagement.ViewModel
@model List<MovieViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a> </li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
</div>

<div class="row">

    @foreach (var movieViewModel in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-3 g-3">

            <div class="card shadow-sm overflow-hidden">
                
                <img src="@movieViewModel.BannerDataUrl" width="100%" height="200px" />

                <div class="card-body py-3">
                
                    <p class="fs-5 fw-bold p-0 m-0 mw-50">@movieViewModel.Name</p>
                    
                    <small class="p-0 m-0">Genre: @movieViewModel.Genre / Duration: @movieViewModel.LengthInMin Minute</small>
                    
                    <p class="card-text mt-2" style="height:72px; overflow: hidden; text-overflow: ellipsis; text-overflow: ellipsis;">
                        @movieViewModel.Description
                    </p>
                    
                    <div class="d-flex justify-content-between align-items-center">

                        <small class="text-muted">Release Date: @movieViewModel.ReleaseDate</small>

                        <div class="btn-group">

                            <a asp-action="Edit" asp-route-id="@movieViewModel.Id" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>